
@media only screen and (max-width:600px){
  
  body{
    max-width: 600px;
    padding: 1.25rem;
  }
  .sec-title{
  font-size: 1.25rem;
  margin-bottom: 1rem;
  }
  .description{
    font-size: 14px;
  }
  
  /* Navbar Section */
  .nav-container{
    padding: 1.125rem 0;
  }
  .logo>img{
    width:28px;
    margin-right: 10px;
  }
  .logo>h2{
    font-size: 1.25rem;
    font-weight: 800;
  }
  
  
  /* Banner Section */
  .banner-content{
    padding: 24px;
  }
  .banner-content h1{
  font-size: 1.5rem;
  }
  .banner-content>p{
    margin-bottom: 24px;
  }
  .find{
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  /* Main
  -------------- */
  .main>section, footer{
    margin-top: 3.2rem;
  }

  /* Destination Section
------------------------- */
.destination-places{
  margin-top: 1rem;
  grid-template-columns: 1fr;
}



.maldiv{
  background: url("../resources/maldiv.png");
  grid-column: 1/span 6;
}
.destination-places>div{
  height: 180px;
  grid-column: 1/span 1;
}

/* Deals & Discount Section
------------------------------- */
.discounts{
  margin-top:1.5rem;
}

.discount-content{
  padding: 1rem;
  width: 92%;
  right: 1rem;
  top:auto;
  left: 1rem;
  bottom: 1rem;
}
.discount-content h3{
  margin-top: 1rem;
}
.discount-content button{
  font-size:1rem;
}


/* Testimonial Section
------------------------ */
.card-container{
  margin-top: 1.5rem;
  flex-direction: column;
}
.client-card{
  width: 100%;
}
.testimonial>button{
  font-size: 1rem;
}


  
  /* newsletter section */
  .newsletter-content{
    padding: 1.5rem;
  }
  .newsletter-img{
    position: relative;
    min-height: 420px;
  }
  .newsletter-tag{
    padding:1rem 1.5rem;
    font-size: 1rem;
    bottom: 3.5rem;
  }
  .newsletter-tag>h3{
    font-size: 1.25rem;
  }
  
  
  /* footer */
  .footer-contents{
    padding: 2.5rem;
  }
  
  .footer-contents h2{
    font-size: 1.5rem;
  }
  
  }